DB_USER=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=database.db

DB_LOCAL_HOST=localhost
DB_LOCAL_PORT=3306
DB_DOCKER_HOST=database
DB_DOCKER_PORT=3306

JWT_SECRET_KEY=secret

HASH_ID_SALT=salt
HASH_ID_MIN_LENGTH=4

MODE=
